.logo {
  max-width: 200px;
  max-height: 200px;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
/* navegacion*/


/* video */
/* src/components/VideoBackground.css */
.video-background {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.video-background video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 600px;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.video-background .content {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}